.prom_1{
    background: url(https://i.ibb.co/tHfHmmt/Rectangle-54.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.prom_2{
    background: url(https://i.ibb.co/qn5JkPJ/Rectangle-54-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.prom_3{
    background: url(https://i.ibb.co/dkqNGsQ/Rectangle-54-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}