@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poetsen+One&display=swap');


.nunito_sans{
    font-family: "Nunito Sans", sans-serif;
}


.poetsen_one {
    font-family: "Poetsen One", sans-serif;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* বা এমন যেকোনো প্যাডিং দিতে পারেন */
}

.loader {
    max-width: 100%;
    max-height: 100%;
}
