
.hot-deal-card {
    position: relative;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.hot-deal-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    cursor: pointer;
}

.hot-deal-card:hover .cart{
    display: none;
}


.hot-deal-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.hot-deal-info {
    margin-top: 10px;
}

.hot-deal-info h4 {
    color: #018427;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.hot-deal-info p {
    color: #111;
}

.hot-deal-sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.hot-deal-details {
    display: none;
    margin-top: 10px;
}

.hot-deal-card:hover .hot-deal-details {
    display: block;
}
