.footer{
    background-image: url('https://i.ibb.co/vVM5YFg/Left.png'), 
    url('https://i.ibb.co/xFnLBj0/right.png');
    position: relative;
    z-index: 1;
    background-position:  bottom left,  bottom right;
    background-repeat: no-repeat;
}

.footer::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #002603;
    opacity: .5;
    z-index: -1;
}